# Node
node_modules/*
npm-debug.log*

# Build output
dist/
coverage/

# Environment
.env
.env.*
!.env.example

# Prisma
prisma/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

/generated/prisma
